<% provide(:title, "About") %>
<h1><%= yield(:title) %></h1>
<p>A decision matrix is a useful business and engineering tool to select the alternative that best meets multiple criteria. Adding another dimension, the weighted decision matrix recognizes that criteria have relative levels of importance and "weighting" them can improve decision making.</p>