<% provide(:title, "Decision Matrix") %>
<div class="center jumbotron">
	<h1>Decision Matrix</h1>
	<h2>Make optimal choices when it counts.</h2>
	<p>Sometimes, making a purchase or selecting between multiple offers can be hard.</p>
	<p>That's where a decision matrix helps.</p>
	<h3>What are you deciding on?</h3>
	form here.
	<br>
	<%= link_to "Next >", '#', class: "btn btn-lg btn-primary" %>
</div>