<li id="alternative-<%= alternative.id %>">
  <span class="name"><%= alternative.name %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(alternative.created_at) %> ago.
  </span>
</li>