<footer class="footer">
  <small>
    The <a href="#">Decision Matrix</a>
    by <a href="https://ca.linkedin.com/in/gordonhtang">Gordon Tang</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>